@mixin font($size, $weight, $color) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
    @content;
}
@mixin flex($justify, $align, $gap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
    @content;
}

@mixin flexColumn($gap) {
    display: flex;
    flex-direction: column;
    gap: $gap;
    @content;
}
@mixin border($width, $style, $color) {
    border-width: $width;
    border-style: $style;
    border-color: $color;
    @content;
}

@mixin before($width, $height) {
    content: "";
    display: block;
    width: $width;
    height: $height;
    @content;
}

@mixin ellipse($line) {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
    line-clamp: $line;
}