@charset "UTF-8";
/******************************
  인풋박스 정의 
*******************************/
.inputBox {
  position: relative;
  flex: 1 1 0%;
}
.inputBox input {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 4rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--black);
  background-color: white;
  border: 1px solid var(--lineDeep);
  border-radius: 0.8rem;
  padding: 0 1.2rem;
}
.inputBox input:disabled, .inputBox input:read-only {
  pointer-events: none;
  background-color: var(--dis);
}
.inputBox input:focus, .inputBox input:focus-within {
  border: 1px solid var(--blue);
}
.inputBox .ic {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 4rem;
  height: 4rem;
  font-size: 0;
  cursor: pointer;
}
.inputBox .ic::before {
  content: "";
  display: block;
  width: 2rem;
  height: 2rem;
  background-position: center center;
  background-repeat: no-repeat;
}
.inputBox:has(.ic) input {
  padding-right: 3rem;
}
.inputBox.date {
  position: relative;
  width: 15rem;
}
.inputBox.date::after {
  content: "";
  position: absolute;
  z-index: 1;
  right: 0.6rem;
  top: 0.8rem;
  width: 2.4rem;
  height: 2.4rem;
  background-image: url(../images/icon/ic_date.svg);
  background-size: 2.4rem;
}
.inputBox.date input {
  padding: 0 3rem 0 1.2rem;
}
.inputBox.date img {
  display: none;
}
.inputBox.date:has(.timepicker) {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.4rem;
}
.inputBox.date:has(.timepicker)::after {
  right: 10rem;
}
.inputBox.date:has(.timepicker) input {
  width: calc(100% - 9.4rem);
}
.inputBox.date:has(.timepicker) .timepicker {
  width: 9rem;
  padding: 0 1.2rem;
  top: unset;
  right: unset;
}
.inputBox.address {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.4rem;
}
.inputBox.address .ic_close {
  right: unset;
  left: 6rem;
}
.inputBox.address .ic_search {
  position: relative;
  min-width: 4rem;
  border: 1px solid var(--lineDeep);
  border-radius: 0.8rem;
}
.inputBox.block {
  width: 100%;
}

input[type=file] {
  height: 4rem;
  background: #fff;
  border: 1px solid var(--lineDeep);
  border-radius: 0.6rem;
  color: var(--black);
  padding: 0.6rem;
}

input[type=file]::file-selector-button {
  width: 8rem;
  height: 2.6rem;
  font-size: 1.4rem;
  background-color: var(--dis);
  border: 0;
  border-radius: 0.6rem;
  color: var(--text);
  cursor: pointer;
}
input[type=file]::file-selector-button:hover {
  background-color: var(--blue);
  color: white;
}

.insert {
  flex: 1;
}
.insert input[type=file] {
  width: 100%;
  height: auto;
  border: 0;
  padding: 0;
}
.insert input[type=file]::file-selector-button {
  width: 100%;
  height: 3.4rem;
  margin-bottom: 0.8rem;
}
.insert .file-list {
  height: 20rem;
  overflow: auto;
  border: 1px solid var(--lineDeep);
  border-radius: 0.8rem;
  padding: 1.2rem;
}
.insert .file-list .filebox {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.4rem;
}
.insert .file-list .filebox p {
  font-size: 1.6rem;
  color: var(--black);
}
.insert .file-list .filebox p .delete i {
  width: 1.6rem;
  height: 1.6rem;
}

/******************************
  드롭다운 정의
*******************************/
.selectBox select {
  width: 100%;
  height: 4rem;
  padding: 0.2rem 2.4rem 0.2rem 1.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text);
  border: 1px solid var(--lineDeep);
  border-radius: 0.8rem;
  background-image: url(../images/icon/ic_arrow_bl.svg);
  background-repeat: no-repeat;
  background-size: 1.6rem;
  background-position: right 0.8rem center;
}
.selectBox select:disabled {
  pointer-events: none;
  background-color: var(--dis);
}
.selectBox select:focus-visible, .selectBox select:focus-within {
  outline: 1px solid var(--blue);
}
.selectBox option {
  padding: 1.6rem;
}
.selectBox option:disabled {
  color: var(--text);
}

/******************************
  라디오 & 체크박스 정의
*******************************/
.radio,
.checkbox {
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
}
.radio span,
.checkbox span {
  display: block;
  font-size: 1.4rem;
}
.radio i,
.checkbox i {
  position: relative;
  display: block;
}
.radio i::before,
.checkbox i::before {
  content: "";
  display: block;
}
.radio i::after,
.checkbox i::after {
  content: "";
  position: absolute;
  display: block;
}

.radio i {
  width: 2rem;
  height: 2rem;
}
.radio i::before {
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: white;
  border: 1px solid var(--lineDeep);
  border-radius: 100%;
}
.radio i::after {
  width: 12px;
  height: 12px;
  top: 5px;
  left: 5px;
  background-color: white;
  border-radius: 100%;
  transition: all 0.2s;
}
.radio:has(:checked) i::after {
  background-color: var(--blue);
  transition: all 0.2s;
}

.checkbox i {
  width: 2rem;
  height: 2rem;
}
.checkbox i::before {
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  background-color: white;
  border: 1px solid var(--lineDeep);
  border-radius: 0.6rem;
  transition: all 0.2s;
}
.checkbox i::after {
  width: 1rem;
  height: 0.4rem;
  top: 0.5rem;
  left: 0.4rem;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}
.checkbox:has(:checked) i::before {
  background-color: var(--blue);
  border: 0;
  transition: all 0.2s;
}

/******************************
  텍스트에어리어 정의
*******************************/
.textArea textarea {
  width: 100%;
  height: 100%;
  min-height: 8rem;
  background-color: white;
  border: 1px solid var(--lineDeep);
  border-radius: 0.8rem;
  padding: 0.8rem;
  font-size: 1.4rem;
  color: var(--text);
  resize: none;
}
.textArea textarea:focus-within {
  border-color: var(--gray-1);
}
.textArea textarea:disabled {
  border-color: var(--lineDeep);
  color: var(--line);
  background-color: var(--dis);
}
.textArea textarea::-moz-placeholder {
  color: var(--gray-4) !important;
}
.textArea textarea::placeholder {
  color: var(--gray-4) !important;
}
.textArea textarea::-ms-placeholder {
  color: var(--gray-4) !important;
}
.textArea textarea::-webkit-placeholder {
  color: var(--gray-4) !important;
}
.textArea textarea::-moz-placeholder {
  color: var(--gray-4) !important;
}
.textArea:has(span) textarea {
  height: calc(100% - 2rem);
}
.textArea.invalid textarea {
  border-color: var(--error);
}

/******************************
  버튼 정의
*******************************/
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  outline: none;
  border: 0;
  min-width: 8rem;
  height: 4rem;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  padding: 0 1.6rem;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
}
.btn:not(.confirm) {
  color: var(--black);
  background-color: white;
  border: 1px solid var(--text);
}
.btn:not(:disabled):hover, .btn.active {
  color: #000;
  border-color: var(--black);
}
.btn.confirm {
  color: var(--blue);
  border: 1px solid var(--blue);
}
.btn.confirm:not(:disabled):hover {
  color: white;
  background-color: var(--hover);
}
.btn.search {
  color: white;
  border: 1px solid var(--blue);
  background-color: var(--blue);
}
.btn.search:not(:disabled):hover {
  color: white;
  border: 1px solid var(--blue);
  background-color: var(--hover);
}
.btn.search.ic::before {
  filter: invert(1);
}
.btn.dark {
  color: white;
  background-color: var(--black);
  border: 1px solid var(--black);
}
.btn.dark:hover {
  color: white;
  border: 1px solid var(--black);
}
.btn.cancel {
  color: white;
  background-color: var(--orange);
  border: 1px solid var(--orange);
}
.btn.inner {
  border: 1px solid var(--black);
}
.btn.small {
  min-width: 4rem;
  height: 3rem;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0 1rem;
}
.btn.block {
  flex: 1;
}
.btn:disabled, .btn.disabled {
  border: 1px solid var(--gray-5);
  background-color: var(--gray-5);
  color: var(--gray-4);
}
.btn.disabled:hover {
  border-color: transparent;
}
.btn.ic {
  padding: 0 1.2rem 0 1rem;
}
.btn.ic::before {
  width: 1.6rem;
  height: 1.6rem;
}

.btnArea {
  position: relative;
  display: inline-flex;
  justify-content: center;
  gap: 0.8rem;
}
.btnArea.block {
  display: flex;
  margin-top: 1.6rem;
}
.btnArea.right {
  justify-content: right;
}

/******************************
  아이콘 정의
*******************************/
.ic {
  position: relative;
}
.ic::before {
  content: "";
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}

.ic_nav01::before {
  background-image: url(../images/icon/ic_nav01.svg);
}

.ic_nav02::before {
  background-image: url(../images/icon/ic_nav02.svg);
}

.ic_nav03::before {
  background-image: url(../images/icon/ic_nav03.svg);
}

.ic_nav04::before {
  background-image: url(../images/icon/ic_nav04.svg);
}

.ic_nav05::before {
  background-image: url(../images/icon/ic_nav05.svg);
}

.ic_schedule::before {
  background-image: url(../images/icon/ic_schedule.svg);
}

.ic_favorite::before {
  background-image: url(../images/icon/ic_favorite.svg);
}

.ic_search::before {
  background-image: url(../images/icon/ic_search.svg);
}

.ic_reset::before {
  background-image: url(../images/icon/ic_reset.svg);
}

.ic_down::before {
  background-image: url(../images/icon/ic_down.svg);
}

.ic_add::before {
  background-image: url(../images/icon/ic_plus.svg);
}

.ic_remove::before {
  background-image: url(../images/icon/ic_minus.svg);
}

.ic_confirm::before {
  background-image: url(../images/icon/ic_confirm.svg);
}

.ic_close::before {
  background-image: url(../images/icon/ic_close.svg);
}

/******************************
  팝업메세지창
*******************************/
.modal-mask {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.6);
}
.modal-mask .modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 1.6rem;
  overflow: hidden;
  transition: transform 0.3s;
}
.modal-mask .modal-container .modal-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 2rem 3rem;
  border-bottom: 1px solid var(--lineDeep);
}
.modal-mask .modal-container .modal-header h2 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--black);
}
.modal-mask .modal-container .modal-header .ic {
  font-size: 0;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.modal-mask .modal-container .modal-header .ic::before {
  width: 2.4rem;
  height: 2.4rem;
}
.modal-mask .modal-container .modal-header .ic:hover {
  background-color: var(--dis);
}
.modal-mask .modal-container .modal-contents {
  width: 100%;
  min-width: 50rem;
  min-height: 30rem;
  padding: 3rem;
  overflow-y: auto;
}
.modal-mask .modal-container .modal-footer {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 0.8rem;
  background-color: var(--dis);
  border-top: 1px solid var(--gray-5);
  padding: 2rem 3rem;
}
.modal-mask .modal-container .modal-footer .btnArea {
  margin: 0;
}

.popup-container {
  position: relative;
  margin: auto;
  max-width: 140rem;
  background-color: white;
  box-shadow: 0px 0px 2px 0px rgba(18, 18, 23, 0.2);
}
.popup-container .popup-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 2rem 3rem;
  background-color: var(--dis);
}
.popup-container .popup-header h2 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--black);
}
.popup-container .popup-header .ic {
  font-size: 0;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
}
.popup-container .popup-header .ic::before {
  width: 3.2rem;
  height: 3.2rem;
}
.popup-container .popup-header .ic:hover {
  background-color: var(--dis);
}
.popup-container .popup-contents {
  width: 100%;
  min-width: 40rem;
  min-height: 30rem;
  padding: 3rem;
  overflow-y: auto;
}

/******************************
  카드박스 정의
*******************************/
.card-container {
  display: flex;
  justify-content: left;
  align-items: stretch;
  gap: 2.4rem;
}
.card-container .card-box {
  flex: 1;
  min-width: calc(33.333% - 1.6rem);
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 2rem;
  background-color: white;
  border: 1px solid var(--line);
  border-radius: 0.8rem;
  box-shadow: 0px 0.4rem 1.2rem rgba(221, 224, 255, 0.54);
}
.card-container .card-box .card-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--black);
}
.card-container .card-box .card-title:nth-of-type(2) {
  border-top: 1px dashed var(--lineDeep);
  padding-top: 1.6rem;
}
.card-container .card-box .card-footer {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 0.8rem;
}
.card-container .card-box.filled {
  background-color: var(--gray-6);
}

/******************************
  배지 정의
*******************************/
.badge::before {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  height: 1.8rem;
  border-radius: 0.4rem;
  white-space: nowrap;
  font-size: 1.2rem;
  color: white;
  padding-inline: 0.8rem;
}
.badge.reserve::before {
  content: "예약";
  background-color: var(--yellow);
}
.badge.consult::before {
  content: "상담";
  background-color: var(--green);
}
.badge.roomIn::before {
  content: "입실";
  background-color: var(--blue);
}
.badge.roomOut::before {
  content: "퇴실";
  background-color: var(--gray-3);
}
.badge.submit::before {
  content: "신청";
  background-color: var(--orange);
}

.time {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text);
}
.time::before {
  content: "";
  display: block;
  width: 1.4rem;
  height: 1.4rem;
  background-image: url(../images/icon/ic_time.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

/******************************
  입력폼 정의
*******************************/
.formItem {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.8rem;
  flex-wrap: wrap;
}
.formItem > label {
  position: relative;
  min-width: 12rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text);
  line-height: 4rem;
}
.formItem > div {
  flex: 1 1 0%;
  min-height: 4rem;
}
.formItem > span {
  line-height: 4rem;
}
.formItem.required > label::after {
  content: " *";
  color: var(--red);
}
.formItem.multi > div {
  flex: unset;
  min-width: unset;
}
.formItem.period input {
  min-width: 20rem;
}
.formItem.row {
  flex-direction: column;
  margin-top: 1.6rem;
}
.formItem .checkWrap {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1.6rem;
}

.listTable {
  width: 100%;
  border: 1px solid var(--lineDeep);
  border-radius: 0.6rem;
  overflow: auto;
}
.listTable .search {
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 0.8rem;
  background-color: white;
  border-bottom: 1px solid var(--lineDeep);
}
.listTable .search .ic {
  position: absolute;
  z-index: 1;
  right: 1.6rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0;
}
.listTable .search .ic::before {
  width: 2rem;
  height: 2rem;
}
.listTable table {
  width: 100%;
  border-collapse: separate;
}
.listTable table thead {
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: var(--bg);
}
.listTable table thead tr th {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text);
  padding: 1.4rem 0.8rem;
  border-bottom: 1px solid var(--line);
}
.listTable table tbody td {
  border-bottom: 1px solid var(--line);
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text);
  padding: 1.4rem 0.8rem;
  text-align: center;
  background-color: white;
}
.listTable table tbody td.over {
  padding: 0;
}
.listTable table tbody td.over span {
  display: block;
  height: 100%;
  background-color: #FFF9E7;
  border: 1px solid var(--orange);
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--orange);
  padding: 1.2rem 0.8rem;
}
.listTable table tbody td a {
  color: var(--black);
  text-decoration: underline;
  text-underline-offset: 0.4rem;
}
.listTable table tbody tr:last-child td {
  border: 0;
}
.listTable table tbody .btnArea {
  margin: 0;
}
.listTable table tbody .center {
  text-align: center;
}
.listTable table tbody .right {
  text-align: right;
}
.listTable table th,
.listTable table td {
  white-space: nowrap;
}
.listTable.wide table tbody td {
  padding: 1.4rem;
}
.listTable .Deluxe {
  color: var(--blue);
}
.listTable .Suite {
  color: var(--green);
}
.listTable .RoyalSuite {
  color: var(--orange);
}
.listTable.scrollSize {
  max-height: 30rem;
  overflow-y: auto;
  overflow-x: hidden;
}
.listTable.mg-b {
  margin-bottom: 1.6rem;
}

/******************************
  Pagination 정의
*******************************/
.pagination {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.4rem;
  margin-top: 2.4rem;
}
.pagination a,
.pagination button {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.pagination .arrowBtn {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.4rem;
}
.pagination .arrowBtn button {
  font-size: 0;
  background-size: 3rem;
  background-repeat: no-repeat;
}
.pagination .arrowBtn button:disabled {
  opacity: 0.3;
}
.pagination .arrowBtn .backEnd {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE1IDEwTDEwIDE1TDE1IDIwIiBzdHJva2U9IiMyQTJBMkEiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPgo8cGF0aCBkPSJNMTkgMTBMMTQgMTVMMTkgMjAiIHN0cm9rZT0iIzJBMkEyQSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+Cjwvc3ZnPgo=");
}
.pagination .arrowBtn .back {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE3IDEwTDEyIDE1TDE3IDIwIiBzdHJva2U9IiMyQTJBMkEiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPgo8L3N2Zz4K");
}
.pagination .arrowBtn .nextEnd {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE1IDIwTDIwIDE1TDE1IDEwIiBzdHJva2U9IiMyQTJBMkEiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPgo8cGF0aCBkPSJNMTEgMjBMMTYgMTVMMTEgMTAiIHN0cm9rZT0iIzJBMkEyQSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+Cjwvc3ZnPgo=");
}
.pagination .arrowBtn .next {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEzIDIwTDE4IDE1TDEzIDEwIiBzdHJva2U9IiMyQTJBMkEiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPgo8L3N2Zz4K");
}
.pagination .pageGroup {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.8rem;
}
.pagination .pageGroup a {
  color: var(--gray-1);
}
.pagination .pageGroup .act {
  color: white;
  background-color: var(--black);
  border-radius: 50%;
}
.pagination.center {
  justify-content: center;
}
.pagination.right {
  justify-content: right;
}

/******************************
  탭메뉴 정의
*******************************/
.tabCotainer .tabMenu {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0;
  border-bottom: 1px solid var(--lineDeep);
  margin-bottom: 3.2rem;
}
.tabCotainer .tabMenu .tab {
  min-width: 12rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text);
  padding: 1.2rem;
  border-bottom: 1px solid transparent;
  margin-bottom: -1px;
}
.tabCotainer .tabMenu .tab.act {
  border-color: var(--black);
  color: var(--black);
}

/******************************
  팝오버 정의
*******************************/
.popover {
  position: absolute;
  z-index: 99;
  top: 100%;
  left: 0;
  padding: 1.6rem;
  background-color: white;
  border: 1px solid var(--lineDeep);
  border-radius: 0.8rem;
}
.popover::before {
  content: "";
  bottom: 100%;
  left: 2rem;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: 1rem;
  margin-left: -1rem;
  border-style: solid;
  border-color: white;
  border-bottom-color: var(--lineDeep);
}

/******************************
  파일첨부 정의
*******************************/
.attachFileWrap {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin: 1.6rem 0;
}
.attachFileWrap .btnArea {
  justify-content: right;
}
.attachFileWrap .attachFile {
  background-color: var(--bg);
  border-radius: 0.8rem;
  padding: 1.2rem;
}
.attachFileWrap .attachFile li {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1.6rem;
}
.attachFileWrap .attachFile li + li {
  margin-top: 0.8rem;
}
.attachFileWrap .attachFile li .name {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--black);
  margin-right: 0.8rem;
}
.attachFileWrap .attachFile li button {
  font-size: 0;
}
.attachFileWrap .attachFile li .ic::before {
  width: 1.6rem;
  height: 1.6rem;
}/*# sourceMappingURL=component.css.map */