@use '_mixin';

/******************************
  로그인
*******************************/
.loginWrap {
  width: 100vw;
  height: 100vh;
  @include mixin.flexColumn(4rem);
  align-items: center;
  background-image: url(../../../images/layout/loginBg.png);
  background-size: cover;
  padding-top: 20rem;

  .loginBox {
    @include mixin.flexColumn(2.4rem);
    background-color: white;
    border-radius: 2.4rem;
    width: 60rem;
    padding: 6rem;

    .titleBox {
      @include mixin.flexColumn(1.2rem);
      align-items: center;

      h1 {
        width: 20rem;
        height: 3rem;
        aspect-ratio: 142/30;
        background-image: url(../../../images/layout/h1_logo.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        font-size: 0;
        filter: invert(1);
      }

      p {
        @include mixin.font(1.6rem, 400, var(--black));
      }
    }

    .formItem {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;

      label {
        color: var(--text);
        font-size: 1.6rem;
        margin-top: 1.6rem;
      }

      .inputBox {
        width: 100%;

        input {
          height: 4.8rem;
          border-radius: 0.8rem;
          background-color: var(--bg);
        }
      }
    }

    .formOption {
      @include mixin.flex(space-between, center, 0);

      .link {
        @include mixin.flex(left, center, 0.8rem);

        a {
          @include mixin.font(1.4rem, 400, var(--black));
          text-decoration: underline;
          text-underline-offset: 0.4rem;
        }

        a+a {
          border-left: 1px solid var(--text);
          padding-left: 0.8rem;
        }
      }
    }
  }

  footer {
    width: 60rem;
    @include mixin.flexColumn(1.2rem);
    opacity: 0.6;

    &::before {
      content: "";
      display: block;
      width: 12rem;
      height: 3.2rem;
      aspect-ratio: 120/32;
      background-image: url(../../../images/layout/logo_bottom.png);
      background-size: 100%;
      background-repeat: no-repeat;
    }

    .copy {
      color: white;
      line-height: 1.4;
      font-size: 1.3rem;
    }
  }
}


/******************************
  폼입력 화면 정의
*******************************/
.formInputBox {
  @include mixin.flexColumn(0.8rem);

  .formItem {
    align-items: flex-start;

    .data {
      @include mixin.font(1.6rem, 500, var(--black));
      line-height: 4rem;
    }
  }

  .btnArea {
    margin-top: -0.8rem;
  }

  &.col-2 {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 0.8rem;
    column-gap: 4rem;

    .formItem {
      width: calc(50% - 2rem);

      &.block {
        width: 100%;
      }

      .img {
        width: 10rem;
        height: 10rem;
      }
    }
  }
}


/******************************
  리스트 화면 정의
*******************************/
.searchForm {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.6rem;
  background-color: var(--bg);
  border: 1px solid var(--lineDeep);
  border-radius: 1.2rem;
  padding: 1.6rem;
  margin-bottom: 2.4rem;

  &::before {
    content: "SEARCH:";
    @include mixin.font(1.6rem, 600, var(--black))
  }

  .formItem {
    >label {
      min-width: unset;
    }

    >div {
      flex: unset;
    }

    .date {
      text-align: right;

      input {
        min-width: 16rem !important;
        max-width: 16rem !important;
      }
    }

    .selectBox {
      min-width: 20rem;
    }
  }

  .btnArea {
    width: unset;
    margin: 0;
    gap: 0.8rem;
    border-left: 1px solid var(--lineDeep);
    padding-left: 1.6rem;

    .reset {
      min-width: 4rem;
      gap: 0;
      border: 0;
      background-color: var(--lineDeep);
      font-size: 0;
      padding: 0;
    }
  }
}

.gridArea {
  width: 100%;

  .titleBox {
    min-height: 4rem;
    @include mixin.flex(space-between, center, 0);
    flex-wrap: wrap;
    margin-bottom: 0.8rem;

    .sTitle {
      @include mixin.flex(left, center, 0.8rem);

      h3 {
        @include mixin.font(2rem, 600, var(--black));
        line-height: 4rem;
      }

      .total {
        font-size: 1.8rem;
        color: var(--blue);
      }
    }

    .text {
      width: 100%;
      @include mixin.font(1.4rem, 400, var(--text));
      line-height: 2rem;
    }

    .selectBox {
      select {
        font-size: 1.6rem;
        color: var(--black)
      }
    }
  }

  .comment {
    @include mixin.font(1.4rem, 400, var(--red));
    text-align: right;
    margin-top: 0.8rem;
  }

  .gridTable {
    width: 100%;
    height: calc(100% - 5.6rem);
    border-radius: 1.2rem;
    border: 1px solid var(--line);
    box-shadow: 0px 0.4rem 1.2rem rgba(221, 224, 255, .54);
    overflow: hidden;

    table {
      font-size: 1.4rem;
    }

    .realgrid_master {
      height: 280px;
      margin-bottom: 36px;
    }

    .realgrid_detail {
      height: 450px;
    }
  }

  .cardBox {
    position: relative;
    @include mixin.flexColumn(1.6rem);
    padding: 2rem;
    background-color: white;
    border: 1px solid var(--line);
    border-radius: 1.2rem;
    box-shadow: 0px 0.4rem 1.2rem rgba(221, 224, 255, .54);

    +.titleBox {
      margin-top: 1.6rem;
    }
  }
}


/******************************
  분할화면면 정의
*******************************/
.divideWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 3.2rem;

  .col {
    flex: 1 0 0;
    //    border-radius: 1.2rem;
    border: none;

    .gridArea {
      height: 100%;
    }

    &.w30 {
      max-width: 30%;
    }
  }

  .row {
    width: 100%;
  }
}


/******************************
  이용약관 정의
*******************************/
.policyBox {
  @include mixin.flexColumn(1.6rem);
  border: 1px solid var(--line);
  border-radius: 0.8rem;
  padding: 1.6rem;

  h3 {
    @include mixin.font(2rem, 600, var(--black));
    line-height: 2.4rem;
  }

  .cont {
    @include mixin.font(1.6rem, 400, var(--text));
    line-height: 1.4;
    background-color: var(--dis);
    padding: 1.6rem;
    border-radius: 0.8rem;
    max-height: 20rem;
    overflow-y: auto;
    white-space: pre;
  }

  .checkbox {
    span {
      color: var(--black);
      font-size: 1.6rem;
    }
  }
}

.srcPassBox {
  position: relative;
  width: 50%;
  margin: 0 auto;
}

.page_wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page_wrap .page_ifrm {
  width: 100%;
  height: 100%;
  border: none
}



/******************************
  상세 테이블 정의
*******************************/
.tableWrap {
  table {
    width: 100%;
    table-layout: fixed;

    thead {
      th {
        text-align: center;
        background-color: var(--bg);
      }
    }

    th {
      text-align: left;

      label {
        position: relative;
        font-size: 1.4rem;
        font-weight: 500;
        color: var(--text);
        line-height: 4rem;

        &.necessary::after {
          content: " *";
          color: var(--red);
        }
      }

      &:nth-of-type(2) {
        padding-left: 2.4rem;
      }
    }

    td {
      padding: 0.4rem;
    }
  }
}




/******************************
  대시보드 정의
*******************************/
.dashboard {
  .col {
    position: relative;
    @include mixin.flexColumn(2.4rem);

    .btnMore {
      position: absolute;
      right: 0;
      top: 0.8rem;
      width: 2.4rem;
      height: 2.4rem;
      font-size: 0;
    }

    h2 {
      @include mixin.font(2.4rem, 600, var(--black));
    }
  }

  .row {
    position: relative;
    @include mixin.flexColumn(2.4rem);

    h2 {
      @include mixin.font(2.4rem, 600, var(--black));
    }
  }

  .noticeArea {
    position: relative;

    .noticeBox {
      @include mixin.flexColumn(1.6rem);

      .notice {
        width: 100%;
        @include mixin.flex(space-between, flex-start, 2rem);
        border: 1px solid var(--line);
        border-radius: 0.8rem;
        padding: 2rem;
        background-color: white;
        box-shadow: 0px 0.4rem 1.2rem rgba(221, 224, 255, 0.54);

        a {
          flex: 1;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          line-clamp: 1;
          /* 표시할 줄 수 */
          -webkit-box-orient: vertical;
          @include mixin.font(1.6rem, 400, var(--black));
          line-height: 2rem;
          margin-bottom: 0.4rem
        }

        span {
          display: block;
          width: 10rem;
          @include mixin.font(1.6rem, 400, var(--text));

        }
      }
    }
  }

  .stepArea {
    @include mixin.flex(left, flex-start, 3.2rem);

    .stepItem {
      width: 20%;
      @include mixin.flexColumn(0.8rem);
      background-image: url(../images/icon/ic_step_arrow.svg);
      background-repeat: no-repeat;
      background-size: 3.2rem;
      background-position: top right;

      h3 {
        @include mixin.font(1.8rem, 600, var(--black));
      }

      .count {
        background-color: var(--dis);
        border-radius: 0.8rem;
        padding: 0.8rem;
        @include mixin.font(2.4rem, 600, var(--blue));
        text-align: center;
      }
    }
  }

  .CSArea {
    @include mixin.flex(left, flex-start, 3.2rem);

    >a,
    .CS {
      position: relative;
      flex: 1;
      @include mixin.flexColumn(0.8rem);
      justify-content: center;
      min-height: 8.2rem;
      border: 1px solid var(--line);
      border-radius: 0.8rem;
      padding: 2rem 5.2rem 2rem 2rem;

      &::before {
        content: "";
        position: absolute;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 3.2rem;
        height: 3.2rem;
        background-size: 100%;
      }

      .title {
        @include mixin.font(1.8rem, 600, var(--black));
      }
    }

    >a {
      flex: unset;
      width: 33.8rem;
    }
  }

  .col {
    margin: 4rem 0;
  }
}