@charset "UTF-8";
/******************************
  로그인
*******************************/
.loginWrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  background-image: url(../images/layout/loginBg.png);
  background-size: cover;
  padding-top: 20rem;
}
.loginWrap .loginBox {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  background-color: white;
  border-radius: 2.4rem;
  width: 60rem;
  padding: 6rem;
}
.loginWrap .loginBox .titleBox {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
}
.loginWrap .loginBox .titleBox h1 {
  width: 20rem;
  height: 3rem;
  aspect-ratio: 142/30;
  background-image: url(../images/layout/h1_logo.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  font-size: 0;
  filter: invert(1);
}
.loginWrap .loginBox .titleBox p {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--black);
}
.loginWrap .loginBox .formItem {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.loginWrap .loginBox .formItem label {
  color: var(--text);
  font-size: 1.6rem;
  margin-top: 1.6rem;
}
.loginWrap .loginBox .formItem .inputBox {
  width: 100%;
}
.loginWrap .loginBox .formItem .inputBox input {
  height: 4.8rem;
  border-radius: 0.8rem;
  background-color: var(--bg);
}
.loginWrap .loginBox .formOption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.loginWrap .loginBox .formOption a {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--black);
  text-decoration: underline;
  text-underline-offset: 0.4rem;
}
.loginWrap footer {
  width: 60rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  opacity: 0.6;
}
.loginWrap footer::before {
  content: "";
  display: block;
  width: 12rem;
  height: 3.2rem;
  aspect-ratio: 120/32;
  background-image: url(../images/layout/logo_bottom.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.loginWrap footer .copy {
  color: white;
  line-height: 1.4;
  font-size: 1.3rem;
}

/******************************
  폼입력 화면 정의
*******************************/
.formInputBox {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.formInputBox .formItem {
  align-items: flex-start;
}
.formInputBox .btnArea {
  margin-top: -0.8rem;
}
.formInputBox.col-2 {
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 1.6rem;
  column-gap: 2.4rem;
}
.formInputBox.col-2 .formItem {
  width: calc(50% - 1.2rem);
}
.formInputBox.col-2 .formItem.block {
  width: 100%;
}
.formInputBox.col-2 .formItem .img {
  width: 10rem;
  height: 10rem;
}

/******************************
  리스트 화면 정의
*******************************/
.searchForm {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.6rem;
  background-color: var(--bg);
  border: 1px solid var(--lineDeep);
  border-radius: 1.2rem;
  padding: 1.6rem;
  margin-bottom: 2.4rem;
}
.searchForm::before {
  content: "SEARCH:";
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--black);
}
.searchForm .formItem > label {
  min-width: unset;
}
.searchForm .formItem .date {
  text-align: right;
}
.searchForm .formItem .date input {
  min-width: 16rem !important;
  max-width: 16rem !important;
}
.searchForm .btnArea {
  width: unset;
  margin: 0;
  gap: 0.8rem;
  border-left: 1px solid var(--lineDeep);
  padding-left: 1.6rem;
}
.searchForm .btnArea .reset {
  min-width: 4rem;
  gap: 0;
  border: 0;
  background-color: var(--lineDeep);
  font-size: 0;
  padding: 0;
}

.gridArea {
  width: 100%;
  height: 100%;
}
.gridArea .titleBox {
  min-height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  margin-bottom: 1.6rem;
}
.gridArea .titleBox .sTitle {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.8rem;
}
.gridArea .titleBox .sTitle h3 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--black);
}
.gridArea .titleBox .sTitle .total {
  font-size: 1.8rem;
  color: var(--blue);
}
.gridArea .gridTable {
  width: 100%;
  height: calc(100% - 5.6rem);
  border-radius: 1.2rem;
  border: 1px solid var(--line);
  box-shadow: 0px 0.4rem 1.2rem rgba(221, 224, 255, 0.54);
  overflow: hidden;
}
.gridArea .gridTable table {
  font-size: 1.4rem;
}
.gridArea .gridTable .comment {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--red);
  margin-top: 1.2rem;
}
.gridArea .cardBox {
  position: relative;
  height: calc(100% - 5.6rem);
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 2rem;
  background-color: white;
  border: 1px solid var(--line);
  border-radius: 1.2rem;
  box-shadow: 0px 0.4rem 1.2rem rgba(221, 224, 255, 0.54);
}

/******************************
  분할화면면 정의
*******************************/
.divideWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 3.2rem;
}
.divideWrap .col {
  flex: 1 0 0;
}
.divideWrap .col .gridArea {
  height: 100%;
}
.divideWrap .col.w30 {
  max-width: 30%;
}
.divideWrap .row {
  width: 100%;
}/*# sourceMappingURL=contents.css.map */