@charset "UTF-8";
/******************************
  로그인
*******************************/
.loginWrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  background-image: url(../images/layout/loginBg.png);
  background-size: cover;
  padding-top: 20rem;
}
.loginWrap .loginBox {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  background-color: white;
  border-radius: 2.4rem;
  width: 60rem;
  padding: 6rem;
}
.loginWrap .loginBox .titleBox {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
}
.loginWrap .loginBox .titleBox h1 {
  width: 20rem;
  height: 3rem;
  aspect-ratio: 142/30;
  background-image: url(../images/layout/h1_logo.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  font-size: 0;
  filter: invert(1);
}
.loginWrap .loginBox .titleBox p {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--black);
}
.loginWrap .loginBox .formItem {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.loginWrap .loginBox .formItem label {
  color: var(--text);
  font-size: 1.6rem;
  margin-top: 1.6rem;
}
.loginWrap .loginBox .formItem .inputBox {
  width: 100%;
}
.loginWrap .loginBox .formItem .inputBox input {
  height: 4.8rem;
  border-radius: 0.8rem;
  background-color: var(--bg);
}
.loginWrap .loginBox .formOption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.loginWrap .loginBox .formOption a {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--black);
  text-decoration: underline;
  text-underline-offset: 0.4rem;
}
.loginWrap .loginBox button {
  height: 4.8rem;
  border-radius: 0.8rem;
}
.loginWrap footer {
  width: 60rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  opacity: 0.6;
}
.loginWrap footer::before {
  content: "";
  display: block;
  width: 12rem;
  height: 3.2rem;
  aspect-ratio: 120/32;
  background-image: url(../images/layout/logo_bottom.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.loginWrap footer .copy {
  color: white;
  line-height: 1.4;
  font-size: 1.3rem;
}

/******************************
  일정
*******************************/
.calendarArea {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.calendarArea .periodTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}
.calendarArea .periodTitle .ic {
  font-size: 0;
}
.calendarArea .periodTitle span {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--black);
}
.calendarArea .calendar {
  width: 100%;
  margin-top: 2.4rem;
}
.calendarArea .calendar .thead {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  gap: 0;
}
.calendarArea .calendar .thead .th {
  flex: 1 1 0%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--black);
  background-color: var(--dis);
}
.calendarArea .calendar .thead .th:nth-child(1) {
  color: var(--red);
}
.calendarArea .calendar .thead .th:nth-child(7) {
  color: var(--hover);
}
.calendarArea .calendar .tbody {
  width: 100%;
  border: solid var(--line);
  border-width: 0 0 1px 1px;
  background-color: white;
  border-radius: 0 0 0.8rem 0.8rem;
  box-shadow: 0px 1px 2px 0px rgba(18, 18, 23, 0.05);
  overflow: auto;
}
.calendarArea .calendar .tbody .row {
  display: flex;
  justify-content: left;
  align-items: stretch;
  gap: 0;
}
.calendarArea .calendar .tbody .row .item {
  flex: 1 1 0%;
  min-width: 13rem;
  position: relative;
  border: solid var(--line);
  border-width: 1px 1px 0 0;
  padding: 3rem 0 0 0;
}
.calendarArea .calendar .tbody .row .item.disable {
  color: var(--text) !important;
  background-image: url(../images/layout/calendar_dis.png);
  background-size: 100%;
  opacity: 0.5;
}
.calendarArea .calendar .tbody .row .item:nth-child(1) {
  color: var(--red);
}
.calendarArea .calendar .tbody .row .item:nth-child(7) {
  color: var(--hover);
}
.calendarArea .calendar .tbody .row .item .date {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.calendarArea .calendar .tbody .row .item .schedule {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  justify-content: flex-end;
  min-height: 10rem;
  height: 100%;
}
.calendarArea .calendar .tbody .row .item .schedule li {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.2rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--black);
  line-height: 1.8rem;
  padding: 0.2rem;
}
.calendarArea .calendar .tbody .row .item .schedule li span {
  white-space: nowrap;
}
.calendarArea .calendar .tbody .row .item .reserve {
  background-color: rgba(255, 209, 67, 0.2);
}
.calendarArea .calendar .tbody .row .item .consult {
  background-color: rgba(144, 205, 65, 0.2);
}
.calendarArea .calendar .tbody .row .item .roomIn {
  background-color: rgba(90, 141, 255, 0.2);
}
.calendarArea .calendar .tbody .row .item .roomOut {
  background-color: rgba(200, 200, 200, 0.2);
}
.calendarArea .calendar .tbody .row .item .submit {
  background-color: rgba(255, 153, 58, 0.2);
}

/******************************
  폼입력 화면 정의
*******************************/
.formInputBox {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.formInputBox .btnArea {
  margin-top: -0.8rem;
}
.formInputBox.col-2 {
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 1.6rem;
}
.formInputBox.col-2 .formItem label {
  min-width: auto;
}
.formInputBox.col-2 .formItem > div {
  min-width: 14rem;
}

/******************************
  리스트 화면 정의
*******************************/
.searchForm {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.6rem;
  background-color: var(--bg);
  border: 1px solid var(--lineDeep);
  border-radius: 2rem;
  padding: 1.6rem;
  margin-bottom: 2.4rem;
}
.searchForm::before {
  content: "SEARCH:";
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--black);
}
.searchForm .formItem > div {
  min-width: unset;
}
.searchForm .formItem .date {
  text-align: right;
}
.searchForm .formItem .date input {
  min-width: 12rem !important;
  max-width: 12rem !important;
}
.searchForm .btnArea {
  width: unset;
  margin: 0;
  gap: 0.8rem;
  border-left: 1px solid var(--lineDeep);
  padding-left: 1.6rem;
}
.searchForm .btnArea .reset {
  border: 0;
  color: var(--red);
}

.gridArea {
  width: 100%;
}
.gridArea h3 {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 2.4rem;
}
.gridArea .btnArea {
  margin: 1.2rem 0;
}
.gridArea .total {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.4rem;
}
.gridArea .total .current {
  color: var(--black);
}
.gridArea .gridTable {
  width: 100%;
  overflow: auto;
  background-color: white;
  border-radius: 0.8rem;
  padding: 0.8rem 2rem 2rem 2rem;
  box-shadow: 0px 0px 2px 0px rgba(18, 18, 23, 0.15);
}
.gridArea .gridTable table {
  border-collapse: separate;
  width: 100%;
}
.gridArea .gridTable table thead {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.gridArea .gridTable table thead th {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--black);
  padding: 1.2rem;
  border-bottom: 1px solid var(--black);
  white-space: nowrap;
}
.gridArea .gridTable table tbody td {
  position: relative;
  border-bottom: 1px solid var(--line);
  border-right: 1px dashed var(--line);
  padding: 1.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--text);
  line-height: 2.6rem;
  text-align: center;
  white-space: nowrap;
}
.gridArea .gridTable table tbody td:last-child {
  border-right: 0;
}
.gridArea .gridTable table tbody td.center {
  text-align: center;
}
.gridArea .gridTable table tbody td .ic_open {
  font-size: 0;
}
.gridArea .gridTable table tbody td .ic_open::before {
  background-image: url(../images/icon/ic_next.svg);
  transform: rotate(90deg);
}
.gridArea .gridTable table tbody td .ic_close {
  font-size: 0;
}
.gridArea .gridTable table tbody td .ic_close::before {
  background-image: url(../images/icon/ic_next.svg);
  transform: rotate(270deg);
}
.gridArea .gridTable table tbody td a {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--black);
  display: block;
  text-align: left;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.gridArea .gridTable table tbody td a:hover {
  text-decoration: underline;
  text-underline-offset: 0.4rem;
}
.gridArea .gridTable table tbody td .noData {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  min-height: 30rem;
}
.gridArea .gridTable table tbody td.left {
  text-align: left;
}
.gridArea .gridTable table tbody tr:nth-child(even) {
  background-color: var(--bg);
}
.gridArea .gridTable table tbody .hidden {
  display: none;
}
.gridArea .gridTable table tbody .open {
  display: table-row;
}
.gridArea .gridTable .comment {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--red);
  margin-top: 1.2rem;
}

/******************************
  차트화면 정의
*******************************/
.statusTab {
  display: inline-flex;
  align-items: center;
  padding: 0.4rem;
  background-color: var(--dis);
  border: 1px solid transparent;
  border-radius: 0.8rem;
  margin-bottom: 2.4rem;
}
.statusTab label {
  border-radius: 0.8rem;
  padding: 1rem 2rem;
  cursor: pointer;
}
.statusTab label input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.statusTab label span {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text);
}
.statusTab label:has(:checked) {
  background-color: white;
  border: 1px solid var(--hover);
  box-shadow: 0px 1px 2px 0px rgba(18, 18, 23, 0.05);
}
.statusTab label:has(:checked) span {
  font-weight: 600;
  color: var(--blue);
}

.messageList {
  width: 50rem;
  border: 1px solid var(--line);
  border-radius: 0.6rem;
  padding: 0.8rem 2rem;
  overflow: auto;
}
.messageList li {
  display: flex;
  justify-content: left;
  align-items: stretch;
  gap: 1.2rem;
  border-bottom: 1px dashed var(--line);
  padding: 1.2rem 0;
}
.messageList li .No {
  padding-right: 1.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--black);
}
.messageList li:last-child {
  border-bottom: 0;
}
.messageList .listItem {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1.2rem;
  flex-wrap: wrap;
  border-bottom: 1px dashed var(--line);
}
.messageList .listItem:last-child {
  border-bottom: 0;
}
.messageList .listItem span {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1.2rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text);
}
.messageList .listItem span::before {
  content: "";
  display: block;
  width: 1px;
  height: 1.2rem;
  background-color: var(--line);
}
.messageList .listItem span:first-child::before {
  display: none;
}
.messageList .listItem .message {
  width: 100%;
  background-color: var(--bg);
  border-radius: 0.6rem;
  padding: 1.2rem;
  color: var(--black);
  cursor: pointer;
}
.messageList .listItem .message p {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 2rem;
}
.messageList .listItem .message.open p {
  -webkit-line-clamp: unset;
  line-clamp: unset;
  overflow: visible;
}

.memoList {
  height: 50rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  overflow: auto;
}
.memoList .memoBox {
  background-color: var(--bg);
  border-radius: 0.8rem;
  padding: 1.2rem 1.6rem 0 1.6rem;
}
.memoList .memoBox .memo {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--black);
  line-height: 1.4;
}
.memoList .memoBox span {
  font-size: 1.4rem;
}
.memoList .memoBox .btnArea {
  gap: 1rem;
}

.payList {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.payList .payBox {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1.6rem;
  flex-wrap: wrap;
  border: 1px dashed var(--line);
  border-radius: 0.8rem;
  padding: 1.6rem;
}
.payList .payBox .item {
  width: calc(50% - 0.8rem);
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1rem;
}
.payList .payBox .item .typePay {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 4rem;
  height: 2.6rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--black);
  padding: 0 1rem;
  border: 1px dashed var(--black);
  border-radius: 0.6rem;
}
.payList .payBox .item .label {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--blue);
}
.payList .payBox .item .data {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--black);
}
.payList .payBox .item .data .type {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--black);
}
.payList .payBox .item.right {
  justify-content: right;
}

.priceTotal {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 0.8rem;
  background-color: var(--dis);
  padding: 2rem;
  border-radius: 0.8rem;
}
.priceTotal span {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--black);
}
.priceTotal .price {
  font-size: 1.8rem;
  color: var(--red);
}

.payment .formItem {
  padding: 0.8rem;
  border: 1px solid var(--line);
  border-radius: 0.8rem;
}
.payment .formItem .price {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 0.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--black);
}
.payment .formItem .price input {
  text-align: right;
}

.swiperDoc {
  position: relative;
  margin: auto;
  max-width: 60rem;
}
.swiperDoc .item {
  padding: 0 4rem;
}

.swiper-wrapper {
  align-items: center;
  width: unset !important;
  height: unset !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.infoBox {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 3rem;
}
.infoBox .box {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  background-color: white;
  border-radius: 0.8rem;
  box-shadow: 0px 0px 2px 0px rgba(18, 18, 23, 0.15);
}
.infoBox .box .title {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--black);
}
.infoBox .box .price {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--black);
}
.infoBox .box:nth-child(1) {
  border: 1px solid var(--blue);
}
.infoBox .box:nth-child(1) .price {
  color: var(--blue);
}
.infoBox .box:nth-child(2) {
  border: 1px solid var(--green);
}
.infoBox .box:nth-child(2) .price {
  color: var(--green);
}
.infoBox .box:nth-child(3) {
  border: 1px solid var(--orange);
}
.infoBox .box:nth-child(3) .price {
  color: var(--orange);
}

.checkGroup {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.6rem;
  row-gap: 1.2rem;
}
.checkGroup .checkbox {
  width: calc(33.333% - 0.4rem);
}

.smallSearch {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.8rem;
  padding-bottom: 1.2rem;
}
.smallSearch .inputBox {
  width: 20rem;
  flex: unset;
}

.innerList {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 3.2rem;
  flex-wrap: wrap;
  row-gap: 1.2rem;
  padding: 2rem;
  background-color: white;
}

.timeLineWrap .periodTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}
.timeLineWrap .periodTitle .ic {
  font-size: 0;
}
.timeLineWrap .periodTitle span {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--black);
}
.timeLineWrap .legend {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 0.4rem;
  margin: 2.4rem 0 1.2rem 0;
}
.timeLineWrap .legend span {
  font-size: 1.2rem;
  color: white;
  padding: 0.4rem 0.8rem;
  border-radius: 2rem;
}
.timeLineWrap .legend .Deluxe {
  background-color: var(--blue);
}
.timeLineWrap .legend .RoyalSuite {
  background-color: var(--green);
}
.timeLineWrap .legend .Suite {
  background-color: var(--orange);
}
.timeLineWrap .timeLineBox {
  width: 100%;
  background-color: var(--dis);
  border-radius: 0.8rem;
  padding: 2rem;
  overflow: auto;
}
.timeLineWrap .timeLineBox .rowTitle {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0;
  margin-left: 13.3rem;
}
.timeLineWrap .timeLineBox .rowTitle .col {
  flex: 1;
  min-width: 2rem;
  text-align: center;
  padding: 1.2rem 0;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--black);
}
.timeLineWrap .timeLineBox .timeBody {
  display: flex;
  justify-content: left;
  align-items: stretch;
  gap: 1.2rem;
}
.timeLineWrap .timeLineBox .timeBody .colTitle {
  width: 12rem;
  display: flex;
  flex-direction: column;
  gap: 0;
}
.timeLineWrap .timeLineBox .timeBody .colTitle .row {
  height: 4.8rem;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 1.2rem;
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--black);
}
.timeLineWrap .timeLineBox .timeBody .colTitle .row .Deluxe {
  color: var(--blue);
  font-weight: 600;
}
.timeLineWrap .timeLineBox .timeBody .colTitle .row .RoyalSuite {
  color: var(--green);
  font-weight: 600;
}
.timeLineWrap .timeLineBox .timeBody .colTitle .row .Suite {
  color: var(--orange);
  font-weight: 600;
}
.timeLineWrap .timeLineBox .timeBody .timeTable {
  width: calc(100% - 13.2rem);
  border: solid var(--line);
  border-width: 1px 0 0 1px;
}
.timeLineWrap .timeLineBox .timeBody .timeTable .row {
  display: flex;
  justify-content: left;
  align-items: stretch;
  gap: 0;
}
.timeLineWrap .timeLineBox .timeBody .timeTable .row .col {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  justify-content: center;
  min-width: 2rem;
  height: 4.8rem;
  border: solid var(--line);
  border-width: 0 1px 1px 0;
  padding: 1.2rem 0;
}
.timeLineWrap .timeLineBox .timeBody .timeTable .row .col span {
  display: block;
  height: 1rem;
  opacity: 0;
}
.timeLineWrap .timeLineBox .timeBody .timeTable .row .col span.first {
  border-radius: 1rem 0 0 1rem;
}
.timeLineWrap .timeLineBox .timeBody .timeTable .row .col span.last {
  border-radius: 0 1rem 1rem 0;
}
.timeLineWrap .timeLineBox .timeBody .timeTable .row .col span.on {
  opacity: 1;
}
.timeLineWrap .timeLineBox .timeBody .timeTable .row.over .col {
  justify-content: flex-start;
}

.statusBoxWrap {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding-top: 5.2rem;
}
.statusBoxWrap .dateArea {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 0;
  margin-bottom: 1.6rem;
}
.statusBoxWrap .dateArea .date {
  width: 20rem;
}
.statusBoxWrap .dateArea .date img {
  display: none;
}
.statusBoxWrap .statusBox {
  width: calc(20% - 1.2rem);
  min-height: 20rem;
  padding: 2rem;
  border-radius: 0.8rem;
  background-color: white;
  box-shadow: 0 0 1.6rem 0 rgba(176, 179, 186, 0.1);
}
.statusBoxWrap .statusBox dt {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  padding: 1.2rem;
  margin-bottom: 1.6rem;
  border-radius: 3rem;
  background-color: white !important;
}
.statusBoxWrap .statusBox dt span {
  font-size: 1.6rem;
  color: var(--black);
}
.statusBoxWrap .statusBox dt .type {
  font-size: 2rem;
  font-weight: 600;
}
.statusBoxWrap .statusBox dd {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--black);
}
.statusBoxWrap .statusBox dd .name {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.8rem;
}
.statusBoxWrap .statusBox dd .name span {
  font-size: 2.8rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
  padding: 0.4rem;
  cursor: pointer;
}
.statusBoxWrap .statusBox dd .name span:hover {
  border-radius: 0.8rem;
  background-color: var(--dis);
}
.statusBoxWrap .statusBox dd .name .over {
  font-size: 2.4rem;
  color: white;
  background-color: var(--yellow);
  border-radius: 0.8rem;
}
.statusBoxWrap .statusBox dd .badge {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.8rem;
}
.statusBoxWrap .statusBox.blank dt,
.statusBoxWrap .statusBox.blank dd {
  filter: opacity(0.4);
}

.divideWrap {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  gap: 3.2rem;
}
.divideWrap > div {
  flex: 1 1 0%;
}
@media screen and (max-width: 768px) {
  .divideWrap {
    flex-direction: column;
    gap: 1.6rem;
  }
  .divideWrap > div {
    width: 100%;
  }
}

.inputMSG {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding-top: 6rem;
}
.inputMSG .textArea {
  width: 100%;
  height: 20rem;
}

.boardDetail .titeArea {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
  border-bottom: 2px solid var(--black);
  padding: 3rem;
}
.boardDetail .titeArea .title {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--black);
}
.boardDetail .titeArea .date {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text);
}
.boardDetail .boardContent {
  padding: 3rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text);
  border-bottom: 1px solid var(--line);
  background-color: white;
}
.boardDetail .files {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 2rem 3rem;
  border-bottom: 1px solid var(--line);
  background-color: white;
}
.boardDetail .files a {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--black);
}
.boardDetail .files a::before {
  width: 1.6rem;
  height: 1.6rem;
}

.myPageWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  background-color: white;
  border-radius: 0.8rem;
  padding: 6rem 3rem;
}
.myPageWrap .myPageImg {
  max-width: 100%;
  width: 40rem;
}
.myPageWrap .myPageForm .btnArea {
  border-top: 1px dashed var(--line);
  margin-top: 1.6rem;
  padding-top: 1.6rem;
}

.noPaper {
  width: 100%;
  height: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.noPaper .text {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text);
}
.noPaper .text::before {
  content: "";
  display: block;
  width: 4.8rem;
  height: 4.8rem;
  background-image: url(../images/icon/ic_file.svg);
  background-size: 100%;
}