@charset "utf-8";
@use '_mixin';

#app {
  width: 100%;
  height: 100%;

  &.bgColor {
    background-color: var(--blue);
  }

  #LnbArea {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 26rem;
    height: 100%;
    padding: 0 2rem 3rem 3rem;

    .logo {
      width: 100%;
      height: 7.6rem;
      @include mixin.flex(center, center, 0);
      font-size: 0;

      &::before {
        content: "";
        display: block;
        width: 20rem;
        height: 3rem;
        aspect-ratio: 142/30;
        background-image: url(../images/layout/h1_logo.svg);
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }

    .menuWrap {
      @include mixin.flexColumn(1.2rem);
      margin-top: 1.6rem;

      .menu {
        .mainMenu {
          position: relative;
          width: 100%;
          @include mixin.flex(space-between, center, 0);
          padding: 1.2rem 0;
          opacity: 0.7;

          span {
            @include mixin.flex(left, center, 0.6rem);
            @include mixin.font(1.6rem, 500, white);
          }

          &::after {
            content: "";
            display: block;
            width: 1.6rem;
            height: 1.6rem;
            background-image: url(../images/icon/ic_arrow_wh.svg);
            background-size: 100%;
            transition: all 0.2s;
          }
        }

        .subMenu {
          display: none;
          background-color: var(--hover);
          border-radius: 2rem;
          padding: 1rem 3rem;

          .depth02 {

            >a,
            >span {
              @include mixin.flex(space-between, center, 0);
              @include mixin.font(1.6rem, 500, white);
              padding: 1rem 0;
              cursor: pointer;

              &:hover {
                text-decoration: underline;
                text-underline-offset: 0.4rem;
              }
            }

            ul {
              display: none;
              padding-bottom: 1rem;

              li {
                padding-left: 1rem;

                a {
                  @include mixin.font(1.4rem, 400, white);
                  line-height: 2.4rem;

                  &::before {
                    content: "-";
                    margin-right: 0.4rem;
                  }
                }
              }
            }

            &.act {

              >a,
              >span {
                text-decoration: underline;
                text-underline-offset: 0.4rem;

                &::after {
                  content: "";
                  display: block;
                  width: 1.2rem;
                  height: 1.2rem;
                  background-image: url(../images/icon/ic_arrow_wh.svg);
                  background-size: 100%;
                  transform: rotate(180deg);
                }
              }

              ul {
                display: block;
              }
            }
          }
        }

        &.act {
          .mainMenu {
            opacity: 1;

            &::after {
              transform: rotate(180deg);
            }
          }

          .subMenu {
            display: block;
          }
        }
      }
    }

    footer {
      position: absolute;
      bottom: 3rem;
      width: 20rem;
      @include mixin.flexColumn(0);

      .footMenu {
        width: 100%;
        @include mixin.flex(left, center, 0.8rem);
        border-bottom: 1px solid rgb(255 255 255 / 0.2);
        padding-bottom: 1.6rem;
        margin-bottom: 1.6rem;

        button {
          flex: 1;
          height: 3.6rem;
          @include mixin.font(1.2rem, 400, white);
          border-radius: 0.8rem;
          background-color: var(--hover);
        }
      }

      p {
        @include mixin.font(1.2rem, 400, white);
        opacity: 0.5;
        margin-bottom: 0.8rem;
        text-align: center;
      }
    }
  }

  #container {
    position: relative;
    z-index: 2;
    height: 100%;
    @include mixin.flexColumn(0);
    margin-left: 28rem;
    background-color: white;
    border-radius: 5rem 0 0 5rem;
    transition: all 0.2s;

    .btnWide {
      position: absolute;
      left: 0;
      top: 50%;
      width: 1.6rem;
      height: 5.6rem;
      @include mixin.flex(right, center, 0);
      background-color: white;
      border-radius: 2rem 0 0 2rem;
      transform: translateY(-2.4rem);
      font-size: 0;
      margin-left: -1.6rem;

      &::before {
        content: "";
        width: 0.8rem;
        height: 1.4rem;
        background-image: url(../images/icon/ic_arrow_fold.svg);
        background-size: 100%;
        transition: all 0.5s;
      }
    }

    &.wide {
      margin-left: 2rem;

      .btnWide {
        &::before {
          transform: rotate(180deg);
        }
      }
    }

    .TopArea {
      height: 9rem;
      @include mixin.flex(space-between, center, 0);
      padding: 0 5rem;
      border-bottom: 1px solid var(--line);

      .titleBox {
        @include mixin.flex(left, center, 0.4rem);

        .ic {
          font-size: 0;
          filter: grayscale(1);

          &.act {
            filter: grayscale(0)
          }
        }

        h2 {
          @include mixin.font(3.2rem, 500, var(--black));
        }
      }

      .location {
        @include mixin.flex(left, center, 0.4rem);

        &::before {
          content: "";
          display: block;
          width: 1.6rem;
          height: 1.6rem;
          background-image: url(../images/icon/ic_home.svg);
          background-size: 100%;
        }

        span {
          @include mixin.flex(left, center, 0.4rem);
          @include mixin.font(1.4rem, 400, var(--text));

          &::before {
            content: "";
            display: block;
            width: 1.6rem;
            height: 1.6rem;
            background-image: url(../images/icon/ic_arrow_gray.svg);
            background-size: 100%;
          }
        }

        span:last-child {
          color: var(--blue);
        }
      }
    }

    .contentsArea {
      position: relative;
      padding: 5rem;
    }
  }
}