@charset "utf-8";
@use '_mixin';

#app {
  width: 100%;
  height: 100%;

  #container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
    // grid-template-columns: 24rem 1fr;
    // grid-template-rows: 1fr;

    &:has(.main) {
      .TopArea {
        padding: 0 33rem 0 3rem;
        z-index: 1;
      }

      .contents {
        min-width: 88rem;
      }
    }

    .LnbArea {
      position: relative;
      min-width: 24rem;
      background-color: white;
      border-right: 1px solid var(--line);

      .logo {
        width: 100%;
        height: 7.6rem;
        @include mixin.flex(left, center, 0);
        font-size: 0;
        padding-left: 3rem;

        &::before {
          content: "";
          display: block;
          width: 14.2rem;
          height: 3rem;
          aspect-ratio: 142/30;
          background-image: url(../images/layout/h1_logo.svg);
          background-size: 100%;
          background-repeat: no-repeat;
        }
      }

      .btnMenu {
        display: none;
        font-size: 0;
      }

      .menuWrap {
        margin-top: 3.8rem;

        .menu {
          margin-bottom: 1.2rem;

          .mainMenu {
            position: relative;
            width: 100%;
            height: 4rem;
            @include mixin.flex(left, center, 0);
            padding-left: 3rem;

            span {
              @include mixin.flex(left, center, 0.8rem);
              @include mixin.font(1.8rem, 500, var(--black));
            }
          }

          .subMenu {
            display: none;
            padding: 0 1.6rem;

            li {
              background-color: var(--bg);
              padding: 0 0 0 4.6rem;

              &:first-child {
                border-radius: 0.8rem 0.8rem 0 0;
                padding-top: 0.8rem;
              }

              &:last-child {
                border-radius: 0 0 0.8rem 0.8rem;
                padding-bottom: 0.8rem;
              }

              a {
                display: block;
                @include mixin.font(1.6rem, 500, var(--text));
                line-height: 3rem;

                &.act {
                  color: var(--blue);
                }
              }
            }
          }

          &.act {
            .mainMenu {
              span {
                color: var(--blue);
              }

              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 0.3rem;
                height: 4rem;
                background-color: var(--blue);
              }
            }

            .subMenu {
              display: block;
            }
          }
        }

        .logout {
          position: absolute;
          left: 3rem;
          bottom: 5rem;

          span {
            @include mixin.flex(left, center, 1.6rem);
            @include mixin.font(1.8rem, 500, var(--black));
          }
        }
      }
    }

    .TopArea {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 24rem;
      right: 0;
      width: calc(100% - 24rem);
      min-width: 118rem;
      height: 7.6rem;
      @include mixin.flex(space-between, center, 0);
      padding: 0 3rem;
      background-color: white;
      border-bottom: 1px solid var(--line);

      .searchBox {
        position: relative;
        flex: 1 1 0%;
        @include mixin.flex(left, center, 0);

        .ic {
          font-size: 0;
        }

        input {
          flex: 1 1 0%;
          height: 4rem;
          @include mixin.font(1.6rem, 500, var(--black));
          padding-left: 1.2rem;
        }

        .resultOverlay {
          position: absolute;
          z-index: 2;
          top: 100%;
          left: 2.4rem;
          border-radius: 0.8rem;
          background-color: white;
          box-shadow: 0 0 0.8rem 0 rgba(176, 179, 186, 0.2);

          .ic_close {
            position: absolute;
            top: 1.2rem;
            right: 1.2rem;
          }

          h3 {
            @include mixin.font(1.6rem, 500, var(--black));
            padding: 2rem 2.4rem 1.2rem 2.4rem;
            border-bottom: 1px dashed var(--line);
          }

          .list {
            max-height: 18rem;
            @include mixin.flexColumn(1rem);
            padding: 1.2rem 2.4rem 2.4rem 2.4rem;
            overflow-y: auto;

            a {
              @include mixin.flex(left, center, 0.8rem);

              span {
                @include mixin.font(1.4rem, 500, var(--black));
              }

              .name {
                color: var(--blue);
                font-weight: 600;
              }
            }

            p {
              @include mixin.flex(center, center, 0);
            }
          }
        }
      }

      .location {
        select {
          width: 14rem;
          height: 3.4rem;
          border: 0;
          border-radius: 1.7rem;
          background-color: rgb(90 141 255 / 0.1);
          padding: 0 1.2rem;
          @include mixin.font(1.4rem, 500, var(--blue));
          background-image: url(../images/icon/ic_location_select.svg);
          background-repeat: no-repeat;
          background-position: right 1rem center;
          background-size: 1.4rem;

          &:disabled {
            pointer-events: none;
            background-color: var(--dis);
          }

          &:focus-visible,
          &:focus-within {
            outline: 1px solid var(--blue);
          }
        }
      }
    }

    .contentsArea {
      position: relative;
      display: flex;
      align-items: stretch;
      width: calc(100% - 24rem);
      height: 100%;

      .contents {
        flex: 1 1 0%;
        min-width: 118rem;
        padding: 11.4rem 4rem 4rem 4rem;

        .partition {
          @include mixin.flex(left, flex-start, 2.4rem);
        }

        .pageTitle {
          display: inline-block;
          @include mixin.font(2.4rem, 600, var(--black));
          padding: 0 0 1rem 0;
          border-bottom: 2px solid var(--blue);
          margin-bottom: 2.4rem;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    #container {
      height: auto;
      display: block;
      background-color: white;

      &:has(.main) {
        .TopArea {
          right: 0;
        }
      }

      .LnbArea {
        position: fixed;
        z-index: 99;
        top: 0;
        width: 100%;
        height: 5.6rem;
        border: 0;
        box-shadow: 0 0 0.8rem 0 rgba(176, 179, 186, 0.2);

        .logo {
          height: 5.6rem;
          font-size: 0;
          padding-left: 1.8rem;

          &::before {
            width: 12rem;
          }
        }

        .btnMenu {
          position: absolute;
          right: 1.8rem;
          top: 1.3rem;
          display: block;
        }

        .menuWrap {
          position: fixed;
          top: 5.6rem;
          left: 0;
          width: 100%;
          margin-top: 0;
          height: calc(100svh - 5.6rem);
          background-color: white;
          transform: translateX(100%);
          transition: all 0.4s;

          .menu {
            &.act {
              .mainMenu {
                span {
                  color: var(--blue);
                }

                &::before {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 0.3rem;
                  height: 4rem;
                  background-color: var(--blue);
                }
              }
            }
          }

          &.open {
            transform: translate(0);
          }
        }
      }

      .TopArea {
        position: fixed;
        z-index: 9;
        top: 5.6rem;
        left: 0;
        right: 0;
        width: 100%;
        height: 5.6rem;
        border-color: var(--dis);
        background-color: var(--bg);
        padding: 0 1.8rem;

        .searchBox {
          width: calc(100% - 14rem);
        }
      }

      .contentsArea {
        width: 100%;
        height: auto;
        flex-direction: column;

        .contents {
          width: 100%;
          min-width: unset;
          padding: 13rem 1.8rem 6rem 1.8rem;

          .partition {
            width: 100%;
            flex-direction: column;
            gap: 0;
          }

          .pageTitle {
            font-size: 1.8rem;
            padding: 0 0 0.4rem 0;
            margin-bottom: 1rem;
          }
        }

        .rightArea {
          width: 100%;
          box-shadow: none;
          padding: 0;
        }
      }
    }
  }
}