@charset "utf-8";
@import url(pretendard.css);
@import url(root.css);


/* reset */

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  font-weight: 400;
  font-family: var(--font-system);
  background-color: var(--bg);
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Pretendard';  
  font-size: 1.4rem;
  line-height: 1;
  color: var(--text);
}

div,
span,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
button,
abbr,
address,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
footer,
header,
section,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: var(--font-system);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a[href^="tel"] {
  color: inherit;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
  background-color: transparent;
}

pre {
  word-break: break-all;
  white-space: pre-line;
}

li {
  list-style: none;
}

figure {
  margin: 0;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  border: none;
  user-select: none;
  max-width: 100%;
}

em,
i {
  font-style: normal;
}

/* common */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*safari input style reset*/
input[type="text"],
input[type="password"],
input[type="button"],
input[type="submit"],
textarea {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  border: 0;
  outline: none;
  background-color: transparent;
  font-family: var(--font-system);
}

input::placeholder,
textarea::placeholder {
  color: var(--lineDeep);
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: var(--lineDeep);
}

/*select style*/
select {
  font-family: 'Pretendard';
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: var(--font-system);
  min-width: 0;
}

select::-ms-expand {
  display: none;
}

textarea {
  resize: none;
}


::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  border: solid transparent;
  background-clip: padding-box;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-button {
  display: none;
}